<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" th:fragment="application_nav_bar">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="images/navbar-logo.png" alt="" /></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Books</a></li>
        <li class="nav-item"><div class="dropdown">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle nav-link js-scroll-trigger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Book Request
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Add New</a>
              <a class="dropdown-item" href="#">View All</a>
            </div>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Book Lovers</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">About</a></li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle nav-link js-scroll-trigger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Setting</a>
              <a class="dropdown-item" href="#">Sign out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
